<div class="background-image-container mt-ncs">
  <div class="container">
    <div class="jumbotron jumbotron-fluid">
      <div class="d-flex flex-wrap">
        <div>
          <h1 class="display-3">CoSci</h1>
          <p class="lead">CoSci aims to build a decentralized hub for scientist profiles, article publishing and
            preprints, and reviews of articles and scientists. </p>
        </div>
      </div>
      <ul>
        <li>It seeks to standardize research
        </li>
        <li>ensure fair evaluation
        </li>
        <li>and optimize resource allocation
        </li>
      </ul>
      <p>CoSci is composed of three main products: ArchCredit, ArxPrint, and Sholagram.</p>

      <ul>
        <li>ArchCredit is a Decentralized Academic Reputation System. It also includes a paper evaluation and rating
          system, article-length commentaries on papers, and a scientist research competency rating system.</li>
        <li>ArxPrint is a Web3-based preprint system for academic papers, similar to ArXiv. It supports all-disciplines
          journals, backed by the research community.</li>
        <li>
          Sholagram is a scientist profile and social diagram. It features the integration of existing scientist
          profiling and social systems, as well as the integration of Web3 wallet systems and related frameworks.
        </li>
      </ul>
    </div>
  </div>
  <picture class="background-image">
    <source type="image/webp"
      srcset="assets/dspace/images/banner.webp 2000w, assets/dspace/images/banner-half.webp 1200w, assets/dspace/images/banner-tall.webp 768w">
    <source type="image/jpg"
      srcset="assets/dspace/images/banner.jpg 2000w, assets/dspace/images/banner-half.jpg 1200w, assets/dspace/images/banner-tall.jpg 768w">
    <img alt=""
      [src]="'assets/dspace/images/banner.jpg'" /><!-- without the []="''" Firefox downloads both the fallback and the resolved image -->
  </picture>
  <small class="credits">Photo by <a href="https://www.pexels.com/@inspiredimages">&#64;inspiredimages</a></small>
</div>
